body{
    background-color: #0c0a14; 
    background-image: 
        linear-gradient(to bottom, transparent, transparent 39px, rgba(142, 45, 226, 0.1) 40px),
        linear-gradient(to right, transparent, transparent 39px, rgba(142, 45, 226, 0.1) 40px);
    background-size: 40px 40px; 
}

#main{
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.area{
    width: 300px;
    height: 300px;
    border: 1px solid #74A0D1;
    margin-left: 200px;
    margin-top: 200px;
}

.box{
    height: 50px;
    width: 50px;
    background-color: #500929;
    animation-name: moveBox;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

#button{
    height: 50px;
    width: 100px;
    margin-left: 200px;
    margin-top: 300px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    text-decoration: none;
}

#button:hover{
    background-color: rgba(255, 255, 255, 0.7);
}



#second{
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.area2{
    width: 300px;
    height: 300px;
    border: 1px solid #74A0D1;
    margin-left: 200px;
    margin-top: 200px;
    border-radius: 50%;

    animation: Orbit 3s linear infinite;

}

.box2{
    height: 50px;
    width: 50px;
    background-color: #500929;
    border-radius: 50%;
}

@keyframes moveBox{

    0%, 100% {
        transform: translate(0px, 0px);
    }
    
    25%{
        transform: translate(250px, 0px);
    }

    50% {
        transform: translate(250px, 250px);
    }

    75% {
        transform: translate(0px, 250px);
    }

}

@keyframes Orbit{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}